  
<div class="content">
  <label>Enter English:</label>
  <input class="input" (input)="text = $event.target.value" />
  <button class="button" (click)="submit()">Translate</button>
</div>

<div class="container">
  <div class="jumbotron">
      <h1>Witajcie</h1>
      <h2>Test: Angular w połączeniu z Bootstrap'em</h2>
  </div>
  <div class="panel panel-primary">
      <div class="panel-body">
          <h3>{{title}}</h3>
      </div>
      <button class="btn btn-primary">hello</button>
  </div>
</div>
  
<!-- <router-outlet></router-outlet> -->